.password {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem 10rem;
  height: 100%;
}

.title {
  align-self: flex-start;
}

.title p {
  margin: 1.5rem 0;
}

.formControl {
  margin: 1rem 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submit {
  color: white;
  background-color: var(--primary-color);
}

@media screen and (max-width: 992px) {
  .password {
    width: 100%;
    padding: 5rem 6rem;
    border-radius: 5px;
  }
}

@media screen and (max-width: 576px) {
  .password {
    width: 100%;
    padding: 5rem 3rem;
    border-radius: 5px;
    height: auto;
  }
}
