* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --primary-color: #7e22ce;
  --secondary-color: #ede9fe;
}

html {
  font-size: 62.5%;
}

body,
input,
button {
  font-size: 1.8rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

